$foreground-color: #ffffff;
$background-color: #F2F2F2;
$black-primary-color: #2E2E2E;
$black-secondary-color: #414141;
$light-color: #FFFFFF;
$primary-1-color: #FFCC21;
$primary-2-color: #FF963C;
$primary-3-color: #EA6C00;
$secondary-color: #8FE9D0;
$gray-color: #777777;
$primary-gradient-color: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);

